@page
@model Reto3_YD.Pages.DetallesFacturas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetalleFactura[0].Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleFactura[0].Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleFactura[0].Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleFactura[0].PrecioUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DetalleFactura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
